
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <main>
        <h1>Iniciar Sesión</h1>

        <div>
            @if (!(ViewBag.Errores == null))
            {
                foreach (var error in ViewBag.Errores)
                {
                    @error
                }
            }
        </div>

        <form method="POST" class="formulario" action="/Auth/login">
            <fieldset>
                <legend>Email y Password</legend>

                <label for="email">Email:</label>
                <input type="email" name="email" id="email" placeholder="Tú Email">

                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="Tú Password">
            </fieldset>
            <input type="submit" value="Iniciar Sesion" class="boton boton-verde">
        </form>
    </main>
</body>
</html>
